html {
	box-sizing: border-box;
}

*, 
*:after,
*:before {
	box-sizing: inherit;
}

.grid {
	max-width: 540px;
	width: 100%;
	margin: 50px auto;
}

.grid_item  {
    height: 50px;
    width: 50px;
    margin: 2px;
    display: inline-block;
    font-size: 0;
}

.active {
    background-color: chocolate;
}

.not_active {
    background-color: gray;
}